.card-de-albuns{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 175px;
    transition: 0.3s;
}

.card-de-albuns:hover{
    border-radius: 10px;
    background-color: rgb(59, 59, 59);
    .foto-do-album{
        background-color: rgb(21, 21, 21);
    }
}

.foto-do-album{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 150px;
    width: 150px;
    border-radius: 25px;
    background-color: rgb(59, 59, 59);
}