#section-inicial{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

#convite{
    height: 80px;
    width: 600px;
    font-size: 30px;
    text-align: center;
}