#section-todos{
    display: none;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    height: 90%;
    width: 100%;
}

#musicas-subtitulo-aba-todos{
    font-size: 30px;
}

#lista-de-musicas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 200px;
    width: 100%;
}

/* artistas */

#artistas-subtitulo-aba-todos{
    font-size: 30px;
}

#lista-de-artistas{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 200px;
    width: 100%;
}